# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# macOS lint
.DS_Store

# build temporaries
**/.cxx

# Android studio lint
.idea
local.properties
*.iml

.debug
skrot
